
.create-content-login>.form-header-login>h2{
    text-align: center;
    font-weight: 450;
    padding-bottom: 10px;
    padding-top: 30px;
}


.create-content-login>.form-login>.container3-login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.create-content-login>.form-login>.container3-login>.container-flex>input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}


.create-content-login>.form-login>.container2-login>label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
}
.create-content-login>.form-login>.container3-login>label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
}
/* .create-content-login>.form>.container4-login>label{
    
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
} */
.create-content-login>.form-login>.container4-login>.button2{
    display: flex;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    background-color:rgb(27, 181, 252);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    font-weight: 550;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.create-content-login>.form-login>.container4-login>.button1{
    display: flex;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    background-color:rgb(27, 181, 252);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    font-weight: 550;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.create-content-login>.form-login>.container4-login{
    display: flex;
    flex-direction: column;
}

.create-content-login>.form-login>.container3-login>.container-flex{
    display: inline;
}
/* .create-content-login>.form>.container3-login>.container-flex>.visible{
    top: 5px;
    left: 20px;
} */
.create-content-login>.form-header-login>h2{
    color:rgb(27, 181, 252);
}

.create-content-login>.form-login>.container2-login>input::placeholder{
    color:rgb(27, 181, 252);
}
.create-content-login>.form-login>.container3-login>label{
    /* margin-left: auto;
    margin-right: auto; */
    color:rgb(27, 181, 252);
}
.create-content-login>.form-login>.container3-login>.container-flex-password>input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width:0px;
    border:none;
    outline:none;
    background-color: #373d3d;
    border-bottom: 3px solid rgb(27, 181, 252);;
    color:rgb(27, 181, 252);
}
.create-content-login>.form-login>.container3-login>.container-flex>input::placeholder{
    color:rgb(27, 181, 252);
}
.create-content-login{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* .create-content-login>.form-header-login{
    margin-bottom: -5px;
    min-width: 20vw;
} */
.create-content-login>.form-login>.container4-login{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
.create-content-login>.form-login>.container2-login>label{
    color:rgb(27, 181, 252);
}
.create-content-login>.form-login>.container2-login>input{
    border-width:0px;
    border:none;
    outline:none;
    background-color: #373d3d;
    border-bottom: 3px solid rgb(27, 181, 252);;
    color:rgb(27, 181, 252);
}
/* .create-content-login>.form>.container2-login{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.create-content-login>.form-login>.container2-login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.create-content-login>.form-login>.container3-login>.container-flex-password{
    display: flex;
    flex-direction: row;
}
.container2-login{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
}
.container3-login{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
}
.container4-login{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
}
.create-content-login{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow:0 7px 30px -10px rgba(0, 225, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    max-width: 800px;
    width: 100%;
    background-color: #373d3d;
    border-radius: 25px;
    vertical-align: middle;
}
.create-content-login{
    margin-top: 170px;
}
@media(max-width:800px){
    .create-content-login{
        display: flex;
        flex-direction: column;
        width: 250px;
        width: 100%;
    }
    input{
        display: flex;
    }
    button{
        display: flex;
        justify-content: center;
    }
}