
.create-content-register>.form-register>.container1-register>label{
    font-weight: 450;
    font-size: 30px;
    color:rgb(36, 130, 253);
}

.create-content-register>.form-register>.container1-register>label{
    color:rgb(27, 181, 252);
}

.create-content-register>.form-register>.container1-register>input::placeholder{
    color:rgb(27, 181, 252);
}
input::placeholder{
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container1-register{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.create-content-register>.form-register>.container1-register>input{
    display: flex;
    width: 100%;
    border-width:0px;
    border:none;
    outline:none;
    background-color: #373d3d;
    border-bottom: 3px solid rgb(27, 181, 252);;
    color:rgb(27, 181, 252);
    margin-left: auto;
    margin-right: auto;
}

.create-content-register>.form-header-register>h2{
    text-align: center;
    font-weight: 450;
    padding-bottom: 10px;
    padding-top: 30px;
}


.create-content-register>.form-register>.container3-register{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.create-content-register>.form-register>.container3-register>.container-flex>input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}


.create-content-register>.form-register>.container2-register>label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container3-register>label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
}
/* .create-content-register>.form>.container4-register>label{
    
    font-weight: 450;
    font-size: 30px;
    color:rgb(27, 181, 252);
} */
.create-content-register>.form-register>.container4-register>.button2{
    display: flex;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    background-color:rgb(27, 181, 252);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    font-weight: 550;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.create-content-register>.form-register>.container4-register>.button1{
    display: flex;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    background-color:rgb(27, 181, 252);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    font-weight: 550;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.create-content-register>.form-register>.container4-register{
    display: flex;
    flex-direction: column;
}

.create-content-register>.form-register>.container3-register>.container-flex{
    display: inline;
}
/* .create-content-register>.form>.container3-register>.container-flex>.visible{
    top: 5px;
    left: 20px;
} */
.create-content-register>.form-header-register>h2{
    color:rgb(27, 181, 252);
}

.create-content-register>.form-register>.container2-register>input::placeholder{
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container3-register>label{
    /* margin-left: auto;
    margin-right: auto; */
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container3-register>.container-flex-password>input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width:0px;
    border:none;
    outline:none;
    background-color: #373d3d;
    border-bottom: 3px solid rgb(27, 181, 252);;
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container3-register>.container-flex>input::placeholder{
    color:rgb(27, 181, 252);
}

/* .create-content-register>.form-header-register{
    margin-bottom: -5px;
    min-width: 20vw;
} */
.create-content-register>.form-register>.container4-register{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
.create-content-register>.form-register>.container2-register>label{
    color:rgb(27, 181, 252);
}
.create-content-register>.form-register>.container2-register>input{
    border-width:0px;
    border:none;
    outline:none;
    background-color: #373d3d;
    border-bottom: 3px solid rgb(27, 181, 252);;
    color:rgb(27, 181, 252);
}

.create-content-register>.form-register>.container2-register{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.create-content-register>.form-register>.container1-register{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.create-content-register>.form-register>.container3-register>.container-flex-password{
    display: flex;
    flex-direction: row;
}
.container1-register{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.container2-register{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.container3-register{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container4-register{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.create-content-register{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow:0 7px 30px -10px rgba(0, 225, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    max-width: 800px;
    width: 100%;
    background-color: #373d3d;
    border-radius: 25px;
    vertical-align: middle;
    margin-bottom: 10px;
}
.create-content-register{
    margin-top: 170px;
}
input{
    max-width: 700px;
    width: 100%;
}
@media(max-width:800px){
    .create-content-register{
        display: flex;
        flex-direction: column;
        max-width: 550px;
        width: 100%;
        vertical-align: middle;
        justify-content: center;
    }
    input{
        display: flex;
        max-width: 200px;
        width: 100%;
    }
    button{
        display: flex;
        justify-content: center;
    }
    .container1-register{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .container2-register{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .container3-register{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .container4-register{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }



    input{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    input{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    input{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
}